Collecting django==1.11.17
  Using cached Django-1.11.17-py2.py3-none-any.whl (7.0 MB)
Requirement already satisfied: pytz in ./virtual/lib/python3.8/site-packages (from django==1.11.17) (2018.5)
Installing collected packages: django
  Attempting uninstall: django
    Found existing installation: Django 1.11
    Uninstalling Django-1.11:
      Successfully uninstalled Django-1.11
Successfully installed django-1.11.17
